<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Активация аккаунта</title>
</head>
<body>
    <h1 style="font-size: 26px">Данные для активации учетной записи:</h1>
    <li style="font-size: 22px">Uid : {{ uid }}</li>
    <li style="font-size: 22px">Token: {{ token }}</li>
    <p></p>
    <a href="http://127.0.0.1:8000/api/v1/users/activation/" style="font-size: 22px">
        Активировать учетную запись</a>
<!--    <p>Добро пожаловать, {{ username }}!</p>-->
</body>
</html>